<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ローカルぶらり旅</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>
<body>
    <div id="sp-box">
        <header>
            <p>札幌</p>
        </header>

        <div class="top_logo">
            <h1>ローカルぶらり旅</h1>
            <img class="map-img" src="../static/img/thomas-kinto-6MsMKWzJWKc-unsplash.jpg" alt="">
        </div>
        
        <div class="top_wrapper">
            <a href="#container"><i class="fa-solid fa-chevron-down"></i></a>
        </div>

        <article>
            <div class="top_text">
                <p>何する？ どこ行く？<br></p>
                <p>地元民おすすめのローカルスポット</p>
            </div>

            <div id="container">
                <div class="btn btn-food">
                    <a href="/food/1">食べる</a>
                </div>
                <div class="btn btn-rest">
                    <a href="/rest/2">休む</a>
                </div>
                <div class="btn btn-spot">
                    <a href="/spot/3">見る</a>
                </div>
            </div>
        </article>

        <footer>
            <p><small>&copy; ローカルぶらり旅 2023</small></p>
        </footer>
    </div>

    <script src="../static/js/jquery-3.6.3.js"></script>
    <script src="../static/js/jquery.bgswitcher.js"></script>
    <script src="../static/js/common.js"></script>
</body>
</html>